    <div class="totop">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="mybtn" ></i>
    </div>


    <footer>
        <!-- <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>Mustafiz</span>Kaifee</h1>
                <div class="contact">
                    <span><i class="fa fa-phone"></i>&nbsp 8271602035</span>
                    <span><i class="fa fa-envelope"></i>&nbsp kaifee000@gmail.com</span>
                </div>
                <div class="socials">
                    <a href="http://www.instagram.com/codesthaan" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="http://www.linkedin.com/in/mustafiz-kaifee-91b182190" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="http://www.github.com/Mustafiz04" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="footer-section link">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a href="/blog"><li>Blogs</li></a>
                    <a href="/project"><li>Projects</li></a>
                    <a href="/contact"><li>Contacts </li></a>
                    <a href=""><li>Term and Condtion</li></a>
                    
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact Us</h2>
                <br>
                <form action="index.ejs" method="POST">
                    <input type="email" name="email" id="" class="text-input contact-input " placeholder="Your email adress">
                    <textarea name="message" id="" cols="30" rows="4" class="text-input contact-input " placeholder="Your message.."></textarea>
                    <br>
                    <button type="submit" class="btn btn-big"><i class="fa fa-send"></i>  Send</button>
                </form>
            </div>
        </div> -->
        <div class="footer-bottom">
            <p>< / > with ♡ by <a href="/"> Mustafiz Kaifee</a> </p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="/js/index.js"></script>   

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</body>
</html>