<%- include('../partials/header') %>


<div class="layout" id='lay'>
    <div class="page-content" id="page-content">
        <div class="heading-f" id="heading">
            Hello I'm Mustafiz
        </div>
        <p class="about">A 20 year old designer and developer from India.</p>
        <p class="about">I am a 3rd year student at NIT Jamshdepur. I am good in Java and Python. Currently I'm 
            doing Machine Learning Developer, internship with <a href="https://discourse.opengenus.org/u/Mustafiz04/activity" class="links">
                OpenGenus</a> and contribute to some of the project under <a href="https://www.gssoc.tech/projects.html" class="links">
                    GirlScript Summer of Code
                </a> the 3 month long Open Source program during summers conducted by GirlScript Foundation.
        </p>
    </div>

    <div class="social-media">
        <a href="http://www.github.com/Mustafiz04" title="GitHub" target="_blank" class="social-icon"><i class="fa fa-github"></i></a>
        <a href="http://www.linkedin.com/in/mustafiz-kaifee-91b182190" title="Linkedin" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a>
        <a href="http://www.instagram.com/codesthaan" title="Instagram" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a>
        <a href="mailto:kaifee000@gmail.com" title="EMail" class="social-icon"><i class="fa fa-envelope"></i></a>
        <a href="http://" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>

        <a id="cv" href="/Mustafiz's resume.pdf" target="_blank">View CV</a>
    </div>
</div> 

<%- include('../partials/footer') %>