<%- include('../partials/header') %>

    <div class="layout" id='lay'>
        <div class="page-content-2">
            <div class="heading" id="heading">
                My projects
            </div>
        </div>


        <div class="project">
            <article>
                <img src="/images/Covid19.jpg" alt="">
                <div class="p-card">
                    <p>COVID-19 Live tracker website. It gives live update for India and across globe using APIs. It is created using HTML,CSS, Bootstrap, JavaScript and NodeJs.</p>
                    <a href="https://covid-19-website.herokuapp.com/" target="_blank"><i class="fa fa-globe"></i> View website</a>
                    <a href="https://github.com/Mustafiz04/Covid-19-website" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/spamvsham.png" alt="">
                <div class="p-card">
                    <p>Spam classifier for SMS using Natural Language Processing. Model is then deployed on web using Flask and hosted on Heroku.</p>
                    <a href="http://spamclassifierforsms.herokuapp.com/" target="_blank"><i class="fa fa-globe"></i> View website</a>
                    <a href="https://github.com/Mustafiz04/SpamSMSCLassifierWebsite" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/pokemonlogo.png" alt="">
                <div class="p-card">
                    <p>Pokemon's pokedex build using PokeAPI and hosted on Heroku. It provide details of more than 1000 pokemon with their abilities, weight and height.</p>
                    <a href="http://mypokemonlist.herokuapp.com/" target="_blank"><i class="fa fa-globe"></i> View website</a>
                    <a href="https://github.com/Mustafiz04/Pokemon_List" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/tictactoe.png" alt="">
                <div class="p-card">
                    <p>Create Tic-Tac-Toe game using HTML, CSS and JavaScript. </p>
                    <a href="https://play-tictactoe-game.herokuapp.com/" target="_blank"><i class="fa fa-globe"></i> View website</a>
                    <a href="https://github.com/Mustafiz04/Tic-Tac-Toe" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/project1.png" alt="">
                <div class="p-card">
                    <p>Color-game using HTML, CSS and JavaScript</p>
                    <a href="https://playwithcolor.herokuapp.com/" target="_blank"><i class="fa fa-globe"></i> View Website</a>
                    <a href="https://github.com/Mustafiz04/Color-game" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/indian-flag.jfif" alt="">
                <div class="p-card">
                    <p>Creating the Indian Flag with amazing amination using HTML and CSS from scratch.</p>
                    <a href="https://github.com/Mustafiz04/Indian-Flag" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/airpollutionindex.jpg" alt="">
                <div class="p-card">
                    <p>Solution of HackerEarth Machine Learning challenge: Calculate the air pollution index with 91.5182% accuracy.</p>
                    <a href="https://github.com/Mustafiz04/Air-Pollution-Index" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/tom-and-jerry.png" alt="">
                <div class="p-card">
                    <p>HackerEarth Deep Learning challenge: Detect emotions of your favorite toons Tom and Jerry</p>
                    <a href="https://github.com/Mustafiz04/DetectEmotion" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/fashion-mnist.png" alt="">
                <div class="p-card">
                    <p>Classifies the ten fashion class labels in Faishon MNIST dataset using Keras and Deep Learning</p>
                    <a href="https://github.com/Mustafiz04/Faishon_MNIST" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/typing.jfif" alt="">
                <div class="p-card">
                    <p>Simple Typing Speed Test using HTML, Css and JavaScript from scratch</p>
                    <a href="https://github.com/Mustafiz04/Typing-Speed-Test" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/girsscript-chennai.jpg" alt="">
                <div class="p-card">
                    <p>The official website for GirlScript Chennai Chapter</p>
                    <a href="https://github.com/Mustafiz04/girlscript_chennai_website" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/jarvis.png" alt="">
                <div class="p-card">
                    <p>Simple python's AI project using Speech recognition and Pyaudio. It can do various work according to what you speak.</p>
                    <a href="https://github.com/Mustafiz04/Jarvis" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/digit.png" alt="">
                <div class="p-card">
                    <p>Handwritten Digit Recognition by Neural Network using TensorFlow and Keras Deep Learning Library.</p>
                    <a href="https://github.com/Mustafiz04/Digit_MNIST" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/todo.png" alt="">
                <div class="p-card">
                    <p>Todo list both with and without Database system using HTML CSS JavaScript NodeJs and MongoDB.</p>
                    <a href="https://github.com/Mustafiz04/Digit_MNIST" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/calender.jfif" alt="">
                <div class="p-card">
                    <p>Calender application with some keys functionality using python.</p>
                    <a href="https://github.com/Mustafiz04/Calendar-Application" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/sound.png" alt="">
                <div class="p-card">
                    <p>🎧 List of best Soundtracks to boost your Productivity and Focus.</p>
                    <a href="https://github.com/Mustafiz04/ProjectSoundtracks" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/ds-algo.png" alt="">
                <div class="p-card">
                    <p>It is a repository that is a collection of algorithms and data structures with implementation in various languages.</p>
                    <a href="https://github.com/Mustafiz04/Algo_Ds_Notes" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/calculator.png" alt="">
                <div class="p-card">
                    <p>Calculator using HTML CSS and JavaScript.</p>
                    <a href="https://github.com/Mustafiz04/Calculator" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

            <article>
                <img src="/images/weather.png" alt="">
                <div class="p-card">
                    <p>You can check the weather by entering city and country name.</p>
                    <a href="https://github.com/Mustafiz04/weather-app-by-cityAndCountryCode" target="_blank"><i class="fa fa-github"></i> View Project</a>
                </div>
            </article>

        </div>
        
    </div>
    


<%- include('../partials/footer') %>