<%- include('../partials/header') %>


<div class="layout" id='lay'>
    <iframe src="/Mustafiz's Resume.pdf" width="100%" height="1000px">
    </iframe>
</div>





<%- include('../partials/footer') %>