<%- include('../partials/header') %>



    <div class="layout" id='lay'>
        <div class="page-content-2">
            <div class="heading" id="heading">
                My skills
            </div>
        </div>

        <h3 id="profile">Programming Languages</h3>

        <div class="content">
            <div class="skill">
                <div class="sk">
                    <img src="/images//python.png" alt="">
                </div>
                <h3>Python</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/java.png" alt="">
                </div>
                <h3>Java</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>

        <h3 id="profile">Front-end</h3>

        <div class="content">
            <div class="skill">
                <div class="sk">
                    <img src="/images//html.png" alt="">
                </div>
                <h3>HTML 5</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/css.png" alt="">
                </div>
                <h3>CSS 3</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/javascript.png" alt="">
                </div>
                <h3>javaScript</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
        </div>

        <h3 id="profile">Back-end</h3>

        <div class="content">
            <div class="skill">
                <div class="sk">
                    <img src="/images/mysql.png" alt="">
                </div>
                <h3>MySQL</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/git.png" alt="">
                </div>
                <h3>GIT</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/nodejs.svg" alt="">
                </div>
                <h3>NodeJs</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/mongodb-logo.png" alt="">
                </div>
                <h3>mongoDB</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
        </div>

        <h3 id="profile">Data-analytics and Data-visualizations</h3>

        <div class="content">
            <div class="skill">
                <div class="sk">
                    <img src="/images/matlab.png" alt="">
                </div>
                <h3>Matlab</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/machine-learning.png" alt="">
                </div>
                <h3>Machine Learning</h3>
                <div class="cont">
                    <p>⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/deep-learning.png" alt="">
                </div>
                <h3>Deep Learning</h3>
                <div class="cont">
                    <p>⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/dashboard.png" alt="">
                </div>
                <h3>Data Analysis</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>

        <h3 id="profile">Microsoft Office</h3>

        <div class="content">
            <div class="skill">
                <div class="sk">
                    <img src="/images/word.png" alt="">
                </div>
                <h3>Microsoft Word</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/excel.png" alt="">
                </div>
                <h3>Microsoft Excel</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="skill">
                <div class="sk">
                    <img src="/images/powerpoint.png" alt="">
                </div>
                <h3>Microsoft Powerpoint</h3>
                <div class="cont">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>

    </div>
    
        

<%- include('../partials/footer') %>