<%- include('../partials/header') %>

<div class="layout" id='lay'>
    <div class="page-content-3" id="page-content">
        <div class="heading-f" id="heading">
            Disclaimer
        </div>
        <p class="disclaimer">If you require any more information or have any questions about our site's disclaimer,
             please feel free to contact us by email at kaifee000@gmail.com.  </p>
        
        <h3>Information provided on this website</h3>
        <p class="disclaimer">The author does not guarantee that any information provided on this website is 
            accurate, current or complete. All claims against the author in respect of material or non-material 
            damage caused by the use or non-use of information provided, or by the use of incorrect or incomplete 
            information are excluded, in so far as no willful or gross negligence on the part of the author can 
            be proven.
        </p>

        <h3>Consent</h3>
        <p class="disclaimer">By using our website, you hereby consent to our disclaimer and agree to its terms.  </p>

        <h3>Update </h3>
        <p class="disclaimer">Should we update, amend or make any changes to this document, those 
            changes will be prominently posted here.  </p>
    </div>

</div> 


<%- include('../partials/footer') %>